ops/n8n/RayViews_Gate_Control.workflow.json
{
  "name": "RayViews Gate Control",
  "nodes": [
    {
      "parameters": {
        "path": "rayviews/gate-decision",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "Webhook_GateDecision",
      "name": "Webhook Gate Decision",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-860, 140]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://new-project-control-plane.vercel.app/api/ops/gate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$vars.OPS_GATE_SECRET}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"run_slug\": $json.body.run_slug || $json.run_slug,\n  \"gate\": $json.body.gate || $json.gate,\n  \"decision\": $json.body.decision || $json.decision,\n  \"reviewer\": $json.body.reviewer || $json.reviewer || \"Ray\",\n  \"notes\": $json.body.notes || $json.notes || \"n8n gate decision\"\n}",
        "options": {}
      },
      "id": "HTTP_Call_Gate",
      "name": "POST /api/ops/gate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-600, 140]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ ($json.body?.gate || $json.gate) === 'gate2' && ($json.body?.decision || $json.decision) === 'approve' }}",
              "operation": "true"
            }
          ]
        },
        "options": {}
      },
      "id": "IF_Gate2Approved",
      "name": "IF gate2 approve",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-360, 140]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://new-project-control-plane.vercel.app/api/ops/go",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$vars.OPS_GO_SECRET}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"run_slug\": $json.body.run_slug || $json.run_slug,\n  \"action\": \"start_render\",\n  \"requested_by\": $json.body.reviewer || $json.reviewer || \"Ray\",\n  \"notes\": \"Gate2 approved from n8n\"\n}",
        "options": {}
      },
      "id": "HTTP_Call_Go",
      "name": "POST /api/ops/go",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-120, 40]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}",
        "options": {}
      },
      "id": "Respond_NoGo",
      "name": "Respond gate-only",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.3,
      "position": [-120, 260]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}",
        "options": {}
      },
      "id": "Respond_Go",
      "name": "Respond gate+go",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.3,
      "position": [120, 40]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Gate Decision": {
      "main": [
        [
          {
            "node": "POST /api/ops/gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST /api/ops/gate": {
      "main": [
        [
          {
            "node": "IF gate2 approve",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF gate2 approve": {
      "main": [
        [
          {
            "node": "POST /api/ops/go",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond gate-only",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST /api/ops/go": {
      "main": [
        [
          {
            "node": "Respond gate+go",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "rayviews-gate-control-v1",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "RayViewsGateControlWorkflow"
}
